@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>List of Tools:</p>
<!-- Display all tools to the web page -->
@foreach (var t in Model.Tools)
{
  <p><b>Tool Name:</b> @Html.DisplayFor(modelItem => t.ToolName) <b> Tool used on:</b> @Html.DisplayFor(modelItem => t.ToolClub)</p>
}